<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <targets>

    <!-- add your targets here -->
    <target xsi:type="Database"
              name="database"
              dbProvider="System.Data.SqlClient"
              useTransactions="true"
              keepConnection="true"
              dbHost="localhost"
              dbDatabase="GreenMachine"
              dbUserName="GreenMachineOwner"
              dbPassword="Q!W@E#R$"
              commandText="EXECUTE [GreenMachine].[dbo].[sp_Log]
            		    @Timestamp
                   ,@Severity
                   ,@Title
                   ,@Message
                   ,@FormattedMessage
                   ,@MachineName
                   ,@ProcessId
                   ,@ProcessName
                   ,@ThreadId
                   ,@ThreadName" >

      <parameter name="@Timestamp" layout="${date}" />
      <parameter name="@Severity" layout="${event-context:item=Severity}" />
      <parameter name="@Title" layout="${event-context:item=Class}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@FormattedMessage" layout="${event-context:item=FormattedMessage}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@ProcessID" layout="${processid}" />
      <parameter name="@ProcessName" layout="${processname}" />
      <parameter name="@ThreadName" layout="${threadname}" />
      <parameter name="@Win32ThreadId" layout="${threadid}" />

    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>

</nlog>